DATABASE_URL=mongodb+srv://caro:caro-password@maincluster-b55ii.gcp.mongodb.net/caro?retryWrites=true
AMQP_HOSTNAME=mustang.rmq.cloudamqp.com
AMQP_PORT=5672
AMQP_VHOST=olafgmme
AMQP_USERNAME=olafgmme
AMQP_PASSWORD=eoZlazAGQEKiaBqH7S4e1IA7Q_FMnTDc
SERVER_SECRET_KEY=caro
SERVER_SECRET_ALGORITHM=HS384