DATABASE_URL=mongodb+srv://caro:caro-password@maincluster-b55ii.gcp.mongodb.net/caro?retryWrites=true
AMQP_HOSTNAME=mustang-01.rmq.cloudamqp.com
AMQP_PORT=5672
AMQP_VHOST=poqkqjzq
AMQP_USERNAME=poqkqjzq
AMQP_PASSWORD=7yiNlGYGE735SjgpDmz_RV-rTN172fST
SERVER_SECRET_KEY=caro
SERVER_SECRET_ALGORITHM=HS384