DATABASE_URL=mongodb+srv://caro:caro-password@maincluster-b55ii.gcp.mongodb.net/caro?retryWrites=true
AMQP_HOSTNAME=mustang.rmq.cloudamqp.com
AMQP_PORT=5672
AMQP_VHOST=rgwlltdi
AMQP_USERNAME=rgwlltdi
AMQP_PASSWORD=kJ-XOCA6wMW4pHag9Bklkb_toy2HyDXv