#caro-board-square {
    flex: 1;
    border-bottom: .05rem solid #bdc3c7;
    border-right: .05rem solid #bdc3c7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:hover {
        background-color: rgba(0, 0, 0, 0.07);
        cursor: pointer;
    }

    &.square-last-index {
        background-color: rgba(0, 0, 0, 0.2);
    }

    &.square-winning {
        background-color: rgba(249, 202, 36, 0.6);
    }

    .caro-board-image {
        width: 98%;
        height: 98%;
    }
}